<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183366283744-72d807gvg637rma5drc2gc0n2ajiclto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183366283744-72d807gvg637rma5drc2gc0n2ajiclto</string>
	<key>API_KEY</key>
	<string>AIzaSyCYTIw17aOiKbvJc94bCGNUvYwaBXSajDM</string>
	<key>GCM_SENDER_ID</key>
	<string>183366283744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.aait.aspbranch.easy</string>
	<key>PROJECT_ID</key>
	<string>easy-596b8</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-596b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183366283744:ios:cb2b437e5220f7c4717b85</string>
</dict>
</plist>